<meta charset="UTF-8">

<title>SAC - Atendimento</title>

<!-- JQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- bootstrap - link cdn -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

<!-- incluindo css -->
<link href="css/main.css" rel="stylesheet" />

